 .qtitle   {
    margin: auto;
    display: block; 
    background-color: #bde7bd;
    border-color: white;
 }

 .questioncontainer {
   background-color: white;
   margin: 10px 400px 0px 400px; 


 }
 
.lcontainer {
   display: flex;




}
 .question {


 }

 .sidebar {
   background-color: white;


 }