 .qtitle   {
    margin: auto;
    display: block; 
    background-color: #bde7bd;
    border-color: white;
 }

 .questioncontainer {
   background-color: white;
   border-radius: 5px;
   width: 80%;
   height: ;
 }
 
.lcontainer {
   display: flex;
   width: 50%;
   height: 20%;
   margin: auto;
}



 .question {
   width: 80%;

 }

 .sidebar {
   background-color: white;


 }