 .qtitle   {
    margin: auto;
    display: block; 
    background-color: #bde7bd;
    border-color: white;

 }

 .questioncontainer {
   background-color: white;
   border-radius: 5px;
   width: 80%;

 }
 
.lcontainer {
   display: flex;
   width: 50%;
   height: 200px;
   margin: auto;
   background-color: aqua;
   border-color: blue;
}



 .question {
   width: 80%;
   height: 15%;
   font-size: 20px;
   border-right:0;
   border-left: 0;
   border-top: 0;
   border-bottom: 10px black;
 }

 .sidebar {
   background-color: white;
   vertical-align: auto;
   margin-left: 10px;
   border-radius: 5px;
   height: 50px;
   width: 30px;
   margin-top: 70px;
 }

 button {
   display: block;
   margin-top: 10px;
 }