@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.hometitle {
    color: #bde7bd;
    font-size: 100px;
    text-align: center;

}


ol {
    font-size: 40px;
    color: #bde7bd;




}


.homecontainer {
    background-color: white;
    margin:50px;
    border-radius: 50px;



}

.listcontainer {
    text-align: center;


}