.lrcontainer {
    display: flex;
}

.logincontainer {
    width: 50%;
    height: 100%;

}

.loginform {
    background-color: white;
    margin: 100px 20px 20px 100px;

}


.registercontainer {
    width:50%
}




