.titlecontainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;


}

.outsidecontainer {
    width: 770px;
    margin: auto;
    margin-top: 20px;

}

.questioncontainer {
    background-color: white;
    margin-top: 15px;

}

.formtitle {
    font-size: 35px;


}
