.titlecontainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;


}


.titlecontainer:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.questioncontainer:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.outsidecontainer {
    width: 770px;
    margin: auto;
    margin-top: 20px;

}

.questioncontainer {
    background-color: white;
    margin-top: 15px;
    padding: 20px;

}

.formtitle {
    font-size: 35px;
    border: none;

}

.formdescription {

    margin-top: 10px;
    border: none;
    font-size: 20px;
}


.titlecontainer:active {
    border-color: red;


}

.createbutton {



}


.createsurveycontainer {


    
}